Repository oda-hub/oda_api, pull requests merged in 2022-02, with the labels that each got.

#117 supports passing a list fits file path
  doc/source/user_guide/UploadToGallery.ipynb
  doc/source/user_guide/tutorial_main.rst
  oda_api/api.py
  oda_api/plot_tools.py
  tests/test_data_products.py
Labels: enhancement, test-live, product-gallery

#122 methods for gallery
  oda_api/plot_tools.py
Labels: test-live

#118 GW
  .gitignore
  doc/source/user_guide/GravitationalWaves.ipynb
  doc/source/user_guide/tutorial_main.rst
  oda_api/api.py
  oda_api/data_products.py
  oda_api/plot_tools.py
  setup.py
Labels: test-live

#127 Optional job session
  oda_api/api.py
  tests/conftest.py
  tests/test_data_products.py
Labels: test-live, product-gallery
